.main {
  min-height: 100vh;
  padding: 4rem 0;
}

@media (max-width: 600px) {
  .container {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
  }
}
